.login{
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?cs=srgb&dl=pexels-daniel-absi-952670.jpg&fm=jpg);
    background-position: fixed;
    top: 0;
    background-size: cover;
}